html {
  display: block;
  height: 100%;
  white-space-collapse: discard;
  font-family: 'Open Sans', sans-serif;
}

body {
  position: relative;
  height: 100%;
}

img {
  display: block;
  margin: 0 auto;
  position: absolute;
  left: 0px;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  opacity: 0.4;
  z-index: -1;
}

img.parallax {
  position: fixed;
}

.block {
  position: relative;
  box-sizing: border-box;
  margin: 0; padding: 0;
  text-align: center;
  overflow: hidden;
}

.full {
  width: 100%;
  height: 90%;
  min-height: 300px;
}

.title {
  position: absolute;
  bottom: 10%;
  width: 100%
}

.title>span {
  font-size: 60px;
  font-family: 'Trocchi', serif;
  color: white;
}

.blurb {
  color: #333333;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  padding: 4px 10px 10px;
  box-sizing: border-box;
  width: auto;
  border-top: 2px solid black;
  border-bottom: 5px solid black;
  overflow: hidden;
}

.row {
  height: 50%;
  min-height: 200px;
  width: 100%;
}

.quarters {
  display: inline-block;
  width: 50%;
  height: 100%;
  text-align: baseline;
  color: #222222;
}

.quarters>span {
  left:0;
  right:0;
  top: 35%;
  position: absolute;
  font-size: 40px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.quarters:hover {
  cursor: pointer;
}

.quarters:hover>span {
  font-family: 'Pacifico', cursive;
  line-height: 56px;
}

.overlay {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.95;
  z-index: -1;
}

.c1 { background-color: #FEF3D5;}
.c2 { background-color: #FEF3D5; }
.c3 { background-color: #FEF3D5; }
.c4 { background-color: #FEF3D5; }
.c5 { background-color: #2F1E28;}

.quarters:hover .c1 { background-color: #FBB958;}
.quarters:hover .c2 { background-color: #FBB958; }
.quarters:hover .c3 { background-color: #FBB958; }
.quarters:hover .c4 { background-color: #FBB958; }



menu {
  background-color: #222222;
  margin: 0px;
  padding: 0px;
  color: white;
  text-align: center;
  z-index: 1;
}

menu a{
  display: block;
  color: white;
  text-decoration: none;
  font-family: 'Trocchi', serif;
  font-size: 30px;
  padding: 10px;
}

menu ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-size: 20px;
}

menu li {
  border-top: 1px solid #666666;
  border-bottom: 1px solid #666666;
}

menu li:hover {
  background-color: #444444;
}


header {
  display: block;
  padding-top: 260px;
  padding-bottom: 50px;
  width: 100%;
}


main {
  position: relative;
  margin: 0px;
  padding: 0px;
  overflow:; hidden;
}

section {
  display: block;
  min-height: 100%;
  padding: 20px 40px 40px;
}

h1 {
  margin: 0px;
  padding: 0px;
  padding-left: 20px;
  font-size: 40px;
  font-family: 'Trocchi', serif;
}




/* For responsive design */

@media only screen and (min-device-width: 700px) and (min-width: 700px) {
  .title {
    padding-left: 30%;
    width: 70%;
  }

  .title>span {
    font-size: 70px;
  }

  .blurb {
    border-left: 5px solid black;
    padding-left: 30px;
  }

  menu {
    position: fixed;
    top: 0px;
    height: 100%;
    width: 200px;
  }

  main {
    box-sizing: border-box;
    overflow-x: hidden;
    padding-left: 200px;
    width: auto;
  }

  main img {
    left: 200px;
  }

  header {
    padding-top: 300px;
    padding-left: 60px;
  }

  section {
    padding-top: 30px;
    padding-left: 60px;
  }
}