html {
  display: block;
  height: 100%;
  white-space-collapse: discard;
  font-family: 'Times New Roman', serif;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
}

img {
  position: absolute;
  left: 0px;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  opacity: 0.3;
  z-index: -1;
}

img.parallax {
  position: fixed;
}

.block {
  position: relative;
  box-sizing: border-box;
  margin: 0; padding: 0;
  text-align: center;
  overflow: hidden;
}

.full {
  font-size: 80px;
  width: 100%;
  height: 92%;
  min-height: 300px;
}

.title {
  position: absolute;
  bottom: 10%;
  width: auto
}

.title>span {
  color: white;
}

.blurb {
  color: black;
  font-size: 40px;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 5px solid black;
}

.row {
  height: 50%;
  min-height: 200px;
  width: 100%;
}

.quarters {
  display: inline-block;
  width: 50%;
  height: 100%;
  text-align: baseline;
}

.quarters>span {
  left:0;
  right:0;
  top: 35%;
  position: absolute;
  font-size: 40px;
  width: 100%;
  font-family: "Helvetica", sans-serif;
}

.quarters:hover>span {
  font-family: 'Pacifico', cursive;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.95;
}

.c1 { background-color: #33DDD0;}
.c2 { background-color: #34BD78; }
.c3 { background-color: #68BA89; }
.c4 { background-color: #AEBABB; }
.c5 { background-color: #664444;}

.quarters:hover .c1 { background-color: #53FFFF;}
.quarters:hover .c2 { background-color: #64DDA8; }
.quarters:hover .c3 { background-color: #88DAB9; }
.quarters:hover .c4 { background-color: #BEDAFB; }



@media only screen and (min-device-width: 700px) and (min-width: 700px) {
  .title {
    padding-left: 30%;
    width: 70%;
  }

  .blurb {
    border-left: 5px solid black;
  }

}